/*Delete me and start writing your CSS here. Don't forget to save as you go!*/
body { margin-trim: 0px;
 }

.site_banner {
	border-top: 8px solid black;
	border-bottom: 1px solid black;
	padding: 20px;
	text-align: center;
}

h3 {
	font-family: 'basier', serif;
	font-size: 14px;
	font-weight: bold;
	color: #de2f23;
	letter-spacing: 1px;
}

.article {
	max-width: 900px;
	margin-right: 5%;
	margin-left: 5%;
}

.story_header {
	font-family: 'basier', serif;
	font-size: 20px;

}

h1 {
	font-size: 46px;
	margin-bottom: 0px;
}

p.byline {
	font-weight: bold;
}

.story_copy {
	font-family: 'pensum', serif;
	font-size: 20px;
}

img {
  width: 100%;
}

.caption {
  font-size: 14px;
  color: slategrey;
  margin-top: 0px
 }

  .footer {
  	font-family: 'basier', serif;
	margin-bottom: 30px;
	margin-top: 30px;
  }

  .footer_info {
  	font-size: 14px;
  	color: dimgray;
  }

.href {
	color: black;
}
